# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Compiled python files
*.pyc

# compiled setup files, these can be generated using 'python setup.py sdist bdist_wheel'
*.gz
*.whl

# ignore setup generated folders
**/build
**/pyphasefield.egg-info
